/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Full height of the viewport */
  background-color: #f2ede9;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures wrapper takes the full height */
}

.navbar {
  display: flex;
  justify-content: space-between; /* Center all items horizontally */
  align-items: center; /* Center all items vertically */
  padding: 10px 20px;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  position: fixed; /* Fix the navbar to the top of the viewport */
  top: 0; /* Position it at the very top */
  width: 100%; /* Full width of the viewport */
  z-index: 1000; /* Ensure it sits above other content */
}

.content {
  padding-top: 150px; /* Adjust based on the height of your navbar */
}

.div-logo {
  display: flex;
  align-items: center; /* Push the logo to the left */
  margin-left: 20px; /* Add margin to the left */
}

.div-logo > a > img {
  height: 150px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center all links horizontally */
}

.nav-links ul,
.external-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center; /* Align items vertically */
}

.nav-links > ul > li,
.external-links > ul > li {
  position: relative;
  margin-right: 8px; /* Add margin between main links */
}

.nav-links a,
.external-links a {
  color:#51575d;
  text-decoration: none;
  padding: 10px 5px;
  position: relative;
  transition: background-color 0.3s;
}

.nav-button button {
  padding: 10px 20px;
  background-color: white;
  color: #51575d;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: 2px solid #51575d;
  margin-right: 50px; /* Add margin to the right */
}

.nav-links > ul > li:not(.external-link)::after {
  content: ' \25BC';  /* Unicode character for down arrow */
  font-size: 0.8em;  /* Adjust size as needed */
  margin-left: 5px;  /* Space between text and arrow */
}

/* Dropdown menu styles */
.nav-links .dropdown {
  display: none; /* Hide dropdown by default */
  position: absolute;
  top: 100%;  /* Position below the parent link */
  left: 0;
  background-color: white;
  padding: 2px 0;
  list-style: none;
  margin: 0;
  min-width: 150px;
  z-index: 1000;
  white-space: nowrap; 
  border: 1px solid #666; /* Add border around the dropdown */
}

.nav-links .dropdown li {
  padding: 10px 20px;
  border-bottom: 1px solid #666; /* Add border between items */
}

.nav-links .dropdown li:last-child {
  border-bottom: none; /* Remove border from last item */
}

.nav-links .dropdown li a {
  color: #51575d;
  padding: 10px;
  text-decoration: none;
  display: block;
}

/* .nav-links .dropdown li a:hover {
  background-color: #555;
} */

/* Show dropdown menu on hover */
.nav-links > ul > li:hover .dropdown {
  display: block;
}

/* Photo Reel */

/* Add this style block or put these styles in your CSS file */
.photo-reel{
  margin-top: 135px; /* Adjust the value to match the height of your navbar */
  position: relative;
  width: 100%;
  height: 700px; /* Adjust height as needed */
  overflow: hidden;
}

.photo-reel img, .text-overlay-retreat {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transform: translateX(100%);
}

.photo-reel img.visible, .text-overlay-retreat.visible {
  opacity: 1;
  transform: translateX(0);
}

.photo-reel img.hidden, .text-overlay-retreat.hidden {
  transform: translateX(-100%);
}

.photo-reel::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent overlay color */
  z-index: 1; /* Ensure it's above the image */
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 20px; /* Adjust as needed to position from the left edge */
  z-index: 2;
  transform: translateY(-50%);
  color: white;
  text-align: left;
  padding: 20px;
  max-width: 600px; /* Adjust the width to make text stack */
  width: 100%; /* Ensure it uses the max-width value */
  font-family: "Josefin Slab", serif;
  
}

.overlay-text p {
  font-size: 5em;
  margin: 0;
}

.text-overlay-retreat {
  z-index: 2;
  max-width: 600px;
  width: 100%;
  font-family: "Josefin Slab", serif;
  font-size: 3em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
  color: white;
}

.photo-container.active .text-overlay-retreat {
  display: block;
}

/* Title container styling */
.title-container {
  display: flex;
  justify-content: center; /* Center the title horizontally */
  align-items: center; /* Center the title vertically */
  margin-top: 20px; /* Add margin to the top */
}

.title-container h1 {
  font-size: 3em; /* Adjust font size */
  color: #51575d; /* Title color */
  font-family: "Josefin Slab", serif;
  font-weight: 25;
}

/* Tile container styling */
.tile-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust column width */
  gap: 100px; /* Reduce gap between tiles for closer spacing */
  padding: 20px; /* Padding around the tile container */
  margin-top: 20px; /* Space below the photo reel */
  justify-content: center; /* Center the tiles in the container */
  max-width: 1000px; /* Adjust the maximum width of the tile container */
  margin: auto; /* Center the tile container horizontally */
}

/* Blog Title container */
.title-container-blog {
  text-align: center;
  margin: 50px 0;
}

.title-container-blog h1 {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-size: 2.5rem;
  color: #333;
}

.title-container-blog p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #666;
}

/* Blog container */
.blog-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 0 20px; /* Add padding inside the blog container */

}

.blog-post {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.blog-post:hover {
  transform: translateY(-5px);
}

.blog-post img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.blog-post h2 {
  font-size: 1.5rem;
  color: #333;
  margin: 15px 0 10px;
}

.blog-post .post-date {
  font-size: 0.9rem;
  color: #999;
}

.blog-post .post-excerpt {
  font-size: 1rem;
  color: #666;
  margin: 10px 0;
}

.read-more-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.read-more-btn:hover {
  background-color: #0056b3;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}


/* Team section styling */
.team-title-container {
  text-align: center;
  margin-top: 75px; /* Space between the navbar and the headline */
  margin-bottom: 40px; /* Space below the title */
  position: relative;
}

.team-title {
  font-family: 'Josefin Slab', serif;
  font-size: 2.5rem;
  font-weight: lighter;
  color: #51575d;
  display: inline-block;
  margin-bottom: 10px; /* Space between the title and the line */
  position: relative;
}

.team-title::after {
  content: '';
  display: block;
  width: 200px; /* Fixed width for the line */
  height: 2px;
  background-color: #c4c2bd;
  margin: 10px auto 0; /* Space between the title and the line */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
}

.team-member {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s;
}

.team-member img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.team-member h2 {
  margin: 15px 0 5px;
  font-size: 1.5rem;
  color: #333;
  font-family: "Josefin Slab", serif;
  font-weight: lighter;
}

.team-member p {
  margin: 0 0 15px;
  color: #666;
}

.learn-more-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #51575d;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.learn-more-btn:hover {
  background-color: #333;
}

/* Bio Styling */

.bio-container {
  display: flex;
  align-items: flex-start; /* Align items at the top */
  padding: 100px; /* Add padding to create space around content */
  margin-bottom: 20px; /* Space between each bio section */
}

.bio-image {
  flex: 0 0 auto; /* Allow image to maintain its size */
  margin-right: 20px; /* Adjust spacing between image and text */
}

.bio-image img {
  width: 500px; /* Adjust image width as needed */
  height: auto; /* Maintain aspect ratio */
  
}

.bio-text {
  flex: 1; /* Allow text to take remaining space */
}

.bio-text h2 {
  font-size: 24px; /* Adjust heading size */
}

.bio-text p {
  font-size: 16px; /* Adjust paragraph text size */
  line-height: 1.5; /* Adjust line height for readability */
}

.certifications {
  margin-top: auto; /* Push certifications to the bottom */
}

.certifications h3 {
  font-size: 18px; /* Adjust heading size */
}

.certifications ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
}

.certifications li {
  margin-bottom: 5px; /* Space between each certification */
}


/* Individual tile styling */
.tile {
  background-color: white;
  border: 1px solid #ccc; /* Border around each tile */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Ensure content fits within the tile */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  cursor: pointer; /* Change cursor to pointer for clickable effect */
  transition: transform 0.3s; /* Animation on hover */
  max-width:300px; /* Maximum width for each tile */
}

.tile:hover {
  transform: translateY(-5px); /* Slight lift on hover */
}

.tile img {
  width: 100%; /* Full width image */
  height: 175px; /* Fixed height for all images */
  object-fit: cover; /* Maintain aspect ratio and cover the entire area */
}

.tile-description {
  padding: 10px; /* Padding inside the description area */
  text-align: center; /* Centered text */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.tile-description p {
  margin: 0; /* Remove default margin */
  color: #51575d; /* Description text color */
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  padding: 10px;
}

.tile-description h3 {
  margin: 0; /* Remove default margin */
  font-size: 25px; /* Adjust font size */
  color: #51575d; /* Title color */
  font-family: "Josefin Slab", serif;
  font-weight: 25;
  text-align: left;
  padding: 10px 20px 3px 10px;
}

.tile-button {
  padding: 8px 16px; /* Reduced padding to make the button smaller */
  margin-top: 10px; /* Space above the button */
  background-color: #51575d; /* Button background color */
  color: white; /* Button text color */
  border: none;
  border-radius: 5px; /* Rounded corners */
  text-align: center;
  cursor: pointer; /* Pointer cursor on hover */
  font-family: "Poppins", sans-serif; /* Button font */
  font-size: 14px; /* Adjust font size to make the button smaller */
  transition: background-color 0.3s; /* Smooth transition on hover */
  text-decoration: none; /* Ensure no underline for links */
  display: inline-block; /* Ensure the link behaves like a button */
}

.tile-button:hover {
  background-color: #40464d; /* Darker background on hover */
}

/* Footer */

/* Footer Styling */
.footer {
  background-color: #333;
  color: white;
  padding: 40px 20px;
  font-family: 'Poppins', sans-serif;
  width: 100%; 
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-section h4 {
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: #f2f2f2;
}

.footer-section p,
.footer-section a {
  color: #ccc;
  margin: 5px 0;
  text-decoration: none;
}

.footer-section a:hover {
  color: #007BFF;
}

/* Newsletter Form */
.newsletter input {
  padding: 10px;
  width: 70%;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.newsletter button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.newsletter button:hover {
  background-color: #0056b3;
}

/* Social Media Icons */
.social a img {
  width: 30px;
  margin-right: 10px;
  transition: transform 0.3s;
}

.social a:hover img {
  transform: scale(1.1);
}

/* Footer Bottom
.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #444;
}

.footer-bottom p {
  margin: 5px 0;
}

.footer-bottom a {
  color: #ccc;
  text-decoration: none;
}

.footer-bottom a:hover {
  color: #007BFF;
} */
